<p id="notice"><%= notice%></p>
  <div class="row">
       <input class="form-control" type="hidden" id="nome" name="nome" value="<%= cliente.nome_tratado %>">
        <input class="form-control" type="hidden" id="sobrenome" name="sobrenome" value="<%= cliente.sobrenome %>Silva">
        <input class="form-control" type="hidden" id="cliente_id" name="cliente_id" value="<%= cliente.id %>">
    <h1>Carrinho</h1>
  </div>
  <hr>
    
    <div class="row">
      <% @produtos.each do |produto| %>
          <ul>
            <li>
              <%= produto.nome %> - R$<%= produto.valor.round(2) %>
            </li>
          </ul>
      <% end %>
    </div>
  
    <script src="https://js.iugu.com/v2"></script>
     
    <h1 class="mb-5">
      Valor total da compra: R$ <%= @produtos.sum(:valor)%>
    </h1>

    <div style="text-align: center;">
      <h2 class= "mb-2">Gerar boleto</h2>
        <a href="#"><img src=" https://cdn0.iconfinder.com/data/icons/50-payment-system-icons-2/480/Boleto.png" style="width:150px;"></a>
        </div>
          <fieldset>
            <legend>Dados do boleto</legend>
              <label for="number">CPF</label>
                <input class="form-control" type="number" id="cpf" name="cpf" <%= cliente.cpf %>>
              <label for="mes">Telefone</label>
                <input class="form-control" type="number" id="telefone" min="1" max="12" name="telefone" <%= cliente.telefone %>>
              <label for="ano">Email</label>
                <input class="form-control" type="text" id="email" name="email" value="<%= cliente.email %>">
              <label for="cvv">CEP</label>
                <input class="form-control" type="number" id="cep" name="cep" <%= cliente.cep%>>
              <label for="cvv">Endereco</label>
                <input class="form-control" type="text" id="endereco" name="endereco" <%= cliente.endereco %>>
              <label for="cvv">Numero</label>
                <input class="form-control" type="number" id="numero" name="numero" <%= cliente.numero %>>
              <label for="cvv">Bairro</label>
                <input class="form-control" type="text" id="bairro" name="bairro" <%= cliente.bairro %>>
              <label for="cvv">Cidade</label>
                <input class="form-control" type="text" id="cidade" name="cidade" <%= cliente.cidade %>>
              <label for="cvv">Estado</label>
                <input class="form-control" type="text" id="estado" name="estado" <%= cliente.estado %>>
            </fieldset>
              <div class="row mt-5" style="text-align: center;">
                <a href="javascript:;" onclick="mundofeliz.pagamentoBoleto()" class="btn btn-outline-success mt-auto">Gerar boleto</a>
              </div>  
            <hr>
      <div style="text-align: center;">
        <h2 class= "mb-2"></h2>
          <a href="#"><img src=" https://i.pinimg.com/originals/83/4a/1f/834a1f5395b95ee846e18b06828625a9.png" style="width:150px;"></a>
      </div>

      <fieldset>
        <legend>Dados do cartao</legend>
          <label for="number">Numero Cartao</label>
            <input class="form-control" type="text" id="number" name="number">
          <label for="mes">Mes</label>
            <input class="form-control" type="number" id="mes" min="1" max="12" name="mes">
          <label for="ano">Ano</label>
            <input class="form-control" type="number" id="ano" name="ano">
          <label for="cvv">CVV</label>
            <input class="form-control" type="number" id="cvv" name="cvv">
      </fieldset>

    
    <div class="row mt-5" style="text-align: center;">
      <a href="javascript:;" onclick="mundofeliz.pagamentoCartao()" class="btn btn-outline-success mt-auto">Pagar com cartao</a>
    </div>  